body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}
button, select, input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
form div {
  margin: 5px;
}
h1, h2 {
  color: #333;
}
#searchBar {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}
.home-btn {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
